<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.catl.cal_index.mapper.calIndex.CalIndexTypeMapper">
    <select id="getAllCalIndexType" resultType="com.catl.cal_index.entity.calIndex.CalIndexType">
        select *
        from cal_index_type
        order by cal_type
    </select>

    <select id="getTypeByCalIndex" resultType="com.catl.cal_index.entity.calIndex.CalIndexType">
        select *
        from cal_index_type
        where cal_index = #{calIndex}
        order by cal_type
    </select>
</mapper>
