<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.catl.cal_index.mapper.calIndex.CarBatteryMapMapper">

    <select id="getAutomobileEnterpriseByBattery" resultType="com.catl.cal_index.entity.calIndex.CarBatteryMap">
        select id, car
        from car_data_message
        where cap = #{battery}
        order by car
    </select>

    <select id="getBatteryList" resultType="com.catl.cal_index.entity.calIndex.CarBatteryMap">
        select  distinct cap
        from car_data_message
        order by cap
    </select>

</mapper>
